<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% block title %} <title>Vortal Academico UPC</title>{% endblock %}

	<meta name="description" content="">

<link rel="icon" type="image/png" href="../estaticos/images/favicon.png" />

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="../estaticos/css/bootstrap/bootstrap.css" />



	<!-- Typeahead Styling  -->
    <link rel="stylesheet" href="../estaticos/css/plugins/typeahead/typeahead.css" />

    <!-- TagsInput Styling  -->
    <link rel="stylesheet" href="../estaticos/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" />

    <!-- Chosen Select  -->
    <link rel="stylesheet" href="../estaticos/css/plugins/bootstrap-chosen/chosen.css" />

    <!-- DateTime Picker  -->
    <link rel="stylesheet" href="../estaticos/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />

    <!-- Switch Buttons  -->
    <link rel="stylesheet" href="../estaticos/css/switch-buttons/switch-buttons.css" />

	<!-- Calendar Styling  -->
    <link rel="stylesheet" href="../estaticos/css/plugins/calendar/calendar.css" />

    <!-- Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>

    <!-- Base Styling  -->
    <link rel="stylesheet" href="../estaticos/css/app/app.v1.css" />
     <script src="../estaticos/js/validaciones/ValidacionFormularioLogin.js"></script>
     <script src="../estaticos/js/angular/angular.min.js"></script>

      <script  src="../estaticos/js/angular/app.js"  type="text/javascript">
      </script>



</head>
<body  ng-app="MyApp">

	<!-- Preloader -->

    <!-- Preloader -->

	<aside class="left-panel">

            <div class="user text-center">
                  <img  src="../estaticos/images/unicesar.png"  alt="...">
                  <h4 class="user-name">UPC</h4>


            </div>





    </aside>

    <section class="content">

        <header class="top-head container-fluid">






        </header>
        <!-- Header Ends -->


        <div class="warper container-fluid">

            <div class="page-header"><h1>formulario de registro estudiante</h1></div>







<div class="row">
    <div class="col-md-12">
       <div class="alert alert-info">Los campos con <span class="glyphicon-asterisk glyphicon"></span> son obligatorios</div>
        </div>
    </div>




            <div class="row">

            	<div class="col-md-12">
                 	<div class="panel panel-default">
                        <div class="panel-heading">Datos</div>
                        <div class="panel-body">
                               <form ng-submit="guardar()">


                          <div class="form-group">
                              <div class="row">
                                  <label class="col-sm-6 control-label"> <span class="glyphicon-asterisk glyphicon"></span> Codigo:</label>
                                   <label class="col-sm-6 control-label"> <span class="glyphicon-asterisk glyphicon"></span> Nombre:</label>

                              </div>
                                       <div class="row">
                                     <div class="col-sm-6">

                                         <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="codigo" required="true">

                                    </div>
                                           <div class="col-sm-6">

                                         <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="nombre" required="true">
                                        <p>[[ nombre ]]</p>
                                    </div>

                                    </div>
                          </div>







    <br/>
                                   <div style="text-align: right">
                                       <input type="submit" class="btn btn-success" id="boton" value='Enviar' >
                                   </div>


</form>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- Warper Ends Here (working area) -->


        <footer class="container-fluid footer">
        	Copyright &copy; 2015 <a href="http://freakpixels.com/" target="_blank">FreakPixels</a>
            <a href="#" class="pull-right scrollToTop"><i class="fa fa-chevron-up"></i></a>
        </footer>


    </section>
    <!-- Content Block Ends Here (right box)-->



    <!-- JQuery v1.9.1 -->
	<script src="../estaticos/js/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../estaticos/js/plugins/underscore/underscore-min.js"></script>
    <!-- Bootstrap -->
    <script src="../estaticos/js/bootstrap/bootstrap.min.js"></script>

    <!-- Globalize -->
    <script src="../estaticos/js/globalize/globalize.min.js"></script>

    <!-- NiceScroll -->
    <script src="../estaticos/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>

	<!-- TypeaHead -->
    <script src="../estaticos/js/plugins/typehead/typeahead.bundle.js"></script>
    <script src="../estaticos/js/plugins/typehead/typeahead.bundle-conf.js"></script>

    <!-- InputMask -->
    <script src="../estaticos/js/plugins/inputmask/jquery.inputmask.bundle.js"></script>

    <!-- TagsInput -->
    <script src="../estaticos/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

    <!-- Chosen -->
    <script src="../estaticos/js/plugins/bootstrap-chosen/chosen.jquery.js"></script>

    <!-- moment -->
    <script src="../estaticos/js/moment/moment.js"></script>

    <!-- DateTime Picker -->
    <script src="../estaticos/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>

    <!-- Custom JQuery -->
	<script src="../estaticos/js/app/custom.js" type="text/javascript"></script>




	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56821827-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>
