
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
 <!-- fila comienzo -->
<div class="panel panel-success">
                        <div class="panel-heading">Informacion Documento</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                    <th>Tipo Documento</th>
                                  <th>Documento</th>
                                    <th>Fecha Expedicion</th>
                                    <th>Lugar Expedicion</th>



                                </tr>
                              </thead>
                              <tbody>



                                <tr>
                                    <td>{{ object.tipo_documento }}</td>
                                  <td>{{ object.documento }}</td>
                                  <td>{{ object.fecha_expedicion }}</td>
                                     <td>{{ object.lugar_expedicion }}</td>


                                </tr>


                              </tbody>
                            </table>

                        </div>
                    </div>

            <div class="panel panel-success">
                        <div class="panel-heading">Ubicacion</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>

                                   <th>Primer Nombre</th>
                                  <th>Segundo Nombre</th>
                                  <th>Primer Apellido</th>
                                     <th>Segundo Apellido</th>
                                     <th>Sexo</th>
                                     <th>Lugar de nacimiento</th>
                                     <th>Fecha nacimiento</th>



                                </tr>
                              </thead>
                              <tbody>



                                <tr>
                                  <td>{{ object.primer_nombre }}</td>
                                  <td>{{ object.segundo_nombre }}</td>

                                        <td>{{ object.primer_apellido }}</td>
                                     <td>{{ object.segundo_apellido }}</td>
                                    <td>{{ object.sexo }}</td>
                                    <td>{{ object.lugar_nacimiento }}</td>
                                    <td>{{ object.fecha_nacimiento }}</td>


                                </tr>

                              </tbody>
                            </table>

                        </div>
                    </div>
              <div class="panel panel-success">
                        <div class="panel-heading">Ubicacion</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>

                                   <th>Direccion</th>
                                  <th>Correo</th>
                                  <th>Telefono</th>
                                     <th>Estrato</th>
                                     <th>Etnia</th>




                                </tr>
                              </thead>
                              <tbody>



                                <tr>
                                  <td>{{ object.direccion }}</td>
                                  <td>{{ object.correo }}</td>

                                        <td>{{ object.telefono }}</td>
                                     <td>{{ object.estrato }}</td>
                                    <td>{{ object.etnia }}</td>



                                </tr>

                              </tbody>
                            </table>

                        </div>
                    </div>


            <div style="text-align: right">
                <a href="/principal/{{ estudiante.documento }}" class="btn btn-success" role="button"> <span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
                <a href="/editar/{{ object.documento }}" class="btn btn-success" role="button"> <span class="fa fa-edit"></span> Editar</a>






            </div>

 <!-- fila final -->

                </div>



        
{% endblock %}