{% extends 'base.html' %}
{%block usuario%}

{%endblock%}
{% block content %}
        <div class="loading-container">
      <div class="loading">

        <div class="l1">
          <div></div>
        </div>
        <div class="l2">
          <div></div>
        </div>
        <div class="l3">
          <div></div>
        </div>
        <div class="l4">
          <div></div>
        </div>
      </div>
    </div>

    <div class="warper container-fluid">
        <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
            <div class="row">
                <div class="panel panel-success">

                    <div class="panel-heading">Opciones</div>
                        <div class="panel-body">

                        <!-- item 1 matricula -->
                        <div class="col-lg-3">
                            <div class="panel-body text-center">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-money fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div>Matricula Financiera</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/financiera">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- item matricula final -->
                        <!-- item hoja de vida comienzo -->
                        <div class="col-lg-3">
                            <div class="panel-body text-center">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-user fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div>Hoja de vida estudiante</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/hoja/1065658040">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- item 1 final -->
                        <!-- item 1 comienzo -->
                        <div class="col-lg-3">
                            <div class="panel-body text-center">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-book fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div>Matricula academica</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/matricula">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ir</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- item 1 final -->
                        <!-- item 1 comienzo -->
                        <div class="col-lg-3">
                            <div class="panel-body text-center">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-calendar fa-5x"></i>
                                            </div>
                                        <div class="col-xs-9 text-right">
                                            <div>Horario estudiante</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/horario">
                                    <div class="panel-footer">
                                        <span class="pull-left">Ir</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- item 1 final -->
                    <!-- item 1 comienzo -->
                        <div class="col-lg-3">
                            <div class="panel-body text-center">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-list-ol fa-5x"></i>
                                            </div>
                                        <div class="col-xs-9 text-right">
                                            <div>Consultar Pensum</div>

                                        </div>
                                    </div>
                                </div>
                                <a href="/pensum">
                                    <div class="panel-footer">
                                        <span class="pull-left">Ir</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- item 1 final -->
                             <!-- item 1 comienzo -->
                        <div class="col-lg-3">
                            <div class="panel-body text-center">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-list-ol fa-5x"></i>
                                            </div>
                                        <div class="col-xs-9 text-right">
                                            <div>Consultar Notas</div>

                                        </div>
                                    </div>
                                </div>
                                <a href="/pensum">
                                    <div class="panel-footer">
                                        <span class="pull-left">Ir</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- item 1 final -->
                </div>
            </div>
        </div>
    </div>      
{% endblock %}