
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
            <div class="panel panel-default">
                        <div class="panel-heading">Informacion</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                  <th>Programa</th>
                                    <th>Semestre</th>
                                  <th>Creditos matriculados</th>
                                  <th>Creditos que puede matricular</th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Ing.de sistemas</td>
                                  <td>09</td>
                                  <td>04</td>
                                    <td>20</td>


                                </tr>


                              </tbody>
                            </table>

                        </div>
                    </div>
<div class="panel panel-default">
                        <div class="panel-heading">Horario</div>
                        <div class="panel-body">

                                                	<table class="table table-striped no-margn">
                              <thead>
                                <tr>


                                  <th>Materia</th>
                                  <th>Lunes</th>
                                  <th>Martes</th>
                                    <th>Miercoles</th>
                                    <th>Jueves</th>
                                    <th>Viernes</th>
                                    <th>Sabados</th>
                                </tr>
                              </thead>
                              <tbody>




 {% for grupo in m %}
{% for g in grupo.grupos.all %}
                                <tr>

                                    <td>
                                        <span class="label label-success">Materia : </span> <span class="label label-info">{{ g.materia.nombre }}</span>
                                        <br>
                                        <span class="label label-success">grupo : </span> <span class="label label-info">{{ g }}</span>

                                    </td>
                                    {% for h in g.horario.all %}

                                    <td>
                                     {% if h.hora.dia == "Lunes" %}

                                    <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}
                                    </td>

                                    <td>
                                        {% if h.hora.dia == "Martes" %}

                                        <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}
                                    </td>

                                    <td>
                                        {% if h.hora.dia == "Miercoles" %}

                                        <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}
                                    </td>
                                    <td>
                                        {% if h.hora.dia == "Jueves" %}

                                       <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}
                                    </td>
                                    <td>
                                        {% if h.hora.dia == "viernes" %}

                                        <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}

                                    </td>
                                    <td>
                                         {% if h.hora.dia == "Sabado" %}

                                      <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}
                                    </td>
                                   {% endfor %}

                                  </tr>
{% endfor %}
                              {% endfor %}
                              </tbody>

                            </table>
 <!-- horario -->
 <!--
<div class="cal-row-fluid cal-row-head">

		<div class="cal-cell1">Materia</div>

		<div class="cal-cell1">Lunes</div>

		<div class="cal-cell1">Martes</div>

		<div class="cal-cell1">Miercoles</div>

		<div class="cal-cell1">Jueves</div>

		<div class="cal-cell1">Viernes</div>

		<div class="cal-cell1">Sabado</div>

</div>
<div class="cal-month-box">






		<div class="cal-row-fluid cal-before-eventlist">


 {% for grupo in m %}
{% for g in grupo.grupos.all %}
			<div class="cal-cell1 cal-cell">

	             <span   data-cal-view="day"  >
                     <span class="label label-success">Materia : </span>{{ g.materia.nombre }}
                     <br>
                      <span class="label label-success">grupo : </span>{{ g }}

                 </span>

            </div>


			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">06:00-07:59</span>
            </div>

			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title=""></span>
            </div>

			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title=""></span>
            </div>

			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title=""></span>
            </div>

			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">08:00-09:59</span>
            </div>

			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title=""></span>
            </div>

            {% endfor %}





		</div>
  {% endfor %}






</div>
-->
 <!-- fin horario -->
                        </div>
                    </div>
 <!-- fila comienzo -->


 <div style="text-align: right">
                <a href="/principal/{{ estudiante.documento }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
                                 <a href="/matriculamateria/{{ estudiante.documento }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-print"></span> Imprimir</a>

            </div>

 <!-- fila final -->

                </div>



        
{% endblock %}