
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>

<div class="panel panel-default">
                        <div class="panel-heading">Horario</div>
                        <div class="panel-body">
 <!-- horario -->

<div class="cal-row-fluid cal-row-head">


		<div class="cal-cell1">Materia</div>

		<div class="cal-cell1">Lunes</div>

		<div class="cal-cell1">Martes</div>

		<div class="cal-cell1">Miercoles</div>

		<div class="cal-cell1">Jueves</div>

		<div class="cal-cell1">Viernes</div>

		<div class="cal-cell1">Sabado</div>

</div>
<div class="cal-month-box">







		<div class="cal-row-fluid cal-before-eventlist">
<!-- materia -->
        {% for o in e %}
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">{{ o.materia }}</span>
            </div>

<!-- fin materia -->
            <!-- lunes -->

                                {% for h in o.horario.all %}
                                    {% if  h.hora.dia == "Lunes"%}
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">{{ h.hora.horainicio }}-{{ h.hora.horafinal }} <br> {{ h.aula }}</span>
            </div>


                                    {% endif %}

<!-- fin dia1 -->
                        <!-- martes -->
			  {% if  h.hora.dia == "Martes"%}
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">{{ h.hora.horainicio }}-{{ h.hora.horafinal }} <br> {{ h.aula }}</span>
            </div>


                                    {% endif %}
<!-- fin dia1 -->
                        <!-- miercoles -->
			  {% if  h.hora.dia == "Miercoles"%}
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">{{ h.hora.horainicio }}-{{ h.hora.horafinal }} <br> {{ h.aula }}</span>
            </div>


                                    {% endif %}
<!-- fin dia1 -->
                        <!-- jueves -->
			  {% if  h.hora.dia == "Jueves"%}
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">{{ h.hora.horainicio }}-{{ h.hora.horafinal }} <br> {{ h.aula }}</span>
            </div>


                                    {% endif %}
<!-- fin dia1 -->
                        <!-- viernes -->
			  {% if  h.hora.dia == "viernes"%}
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">{{ h.hora.horainicio }}-{{ h.hora.horafinal }} <br> {{ h.aula }}</span>
            </div>

                                    {% endif %}
<!-- fin dia1 -->
                        <!-- dia 1 -->
			  {% if  h.hora.dia == "Sabado"%}
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">{{ h.hora.horainicio }}-{{ h.hora.horafinal }} <br> {{ h.aula }}</span>
            </div>


                                    {% endif %}
<!-- fin dia1 -->
            {% endfor %}
        {% endfor %}
		</div>







</div>

 <!-- fin horario -->
                        </div>
                    </div>
 <!-- fila comienzo -->


            <div style="text-align: right">
                      <a href="/matriculamateria/" class="btn btn-success" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
            </div>

 <!-- fila final -->

                </div>



        
{% endblock %}