
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>

<div class="panel panel-default">
                        <div class="panel-heading">Horario</div>
                        <div class="panel-body">
 <!-- horario -->

                                                	<table class="table table-striped no-margn">
                              <thead>
                                <tr>


                                  <th>Materia</th>
                                  <th>Lunes</th>
                                  <th>Martes</th>
                                    <th>Miercoles</th>
                                    <th>Jueves</th>
                                    <th>Viernes</th>
                                    <th>Sabados</th>
                                </tr>
                              </thead>
                              <tbody>




{% for o in e %}

                                <tr>

                                    <td>
                                        <span class="label label-success">Materia : </span> <span class="label label-info">{{ o.materia }}</span>
                                        <br>
                                        <span class="label label-success">grupo : </span> <span class="label label-info">{{ o.grupo }}</span>

                                    </td>

{% for h in o.horario.all %}
                                    <td>
                                    {% if  h.hora.dia == "Lunes" %}

                                        <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>

                                         {% else %}

                                    {% endif %}
                                    </td>

                                    <td>
                                        {% if h.hora.dia == "Martes" %}

                                       <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}
                                    </td>

                                    <td>
                                        {% if h.hora.dia == "Miercoles" %}

                                      <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}
                                    </td>
                                    <td>
                                        {% if h.hora.dia == "Jueves" %}

                                      <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}
                                    </td>
                                    <td>
                                        {% if h.hora.dia == "viernes" %}

                                     <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}

                                    </td>
                                    <td>
                                         {% if h.hora.dia == "Sabado" %}

                                         <span class="label label-success">Hora : </span><span class="label label-warning">{{ h.hora.horainicio }}-{{ h.hora.horafinal }}</span>

                                            <br>
                                         <span class="label label-success">Aula : </span><span class="label label-warning">{{ h.aula }}</span>
                                         {% else %}

                                    {% endif %}
                                    </td>


                                  </tr>
{% endfor %}
                              {% endfor %}
                              </tbody>

                            </table>



 <!-- fin horario -->
                        </div>
                    </div>
 <!-- fila comienzo -->


            <div style="text-align: right">
                      <a href="/matriculamateria/{{ estudiante.documento }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
            </div>

 <!-- fila final -->

                </div>



        
{% endblock %}