
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
<div class="panel panel-default">
                        <div class="panel-heading">Informacion</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                  <th>Programa</th>
                                    <th>Semestre</th>
                                  <th>Creditos matriculados</th>
                                  <th>Creditos que puede matricular</th>

                                </tr>
                              </thead>
                              <tbody>

                                <tr>
                                  <td>Ing.de sistemas</td>
                                  <td>09</td>
                                  <td>04</td>
                                    <td>20</td>


                                </tr>


                              </tbody>
                            </table>

                        </div>
                    </div>
 <!-- fila comienzo -->
<div class="panel panel-default">
                        <div class="panel-heading">Grupos matriculados</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                  <th>Codigo</th>
                                  <th>Nombre</th>
                                  <th>Creditos</th>
                                  <th>Grupo</th>
                                    <th>Eliminar</th>
                                    <th>Cambiar Grupo</th>


                                </tr>
                              </thead>
                              <tbody>
                              {% for grupo in object_list %}
                                <tr>
                                  <td>{{ grupo.materia.codigo }}</td>
                                  <td>{{ grupo.materia }}</td>
                                  <td>{{ grupo.materia.creditos }}</td>
                                    <td>{{ grupo.grupo }}</td>

                                    <td>
                                    	 <a href="/registrarestudiante" class="btn btn-success" role="button"><span class="fa fa-close"></span> Eliminar</a>
                                    </td>
                                <td>
                                    	 <a href="/registrarestudiante" class="btn btn-success" role="button"> <span class="fa fa-exchange"></span> Cambiar</a>
                                    </td>
                                </tr>
                             {% endfor %}
                              </tbody>
                            </table>

                        </div>
                    </div>

            <div style="text-align: right">
                <a href="/principal" class="btn btn-success" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
                                 <a href="/matriculamateria" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok"></span> Matricular</a>
                                 <a href="" class="btn btn-success" role="button"><span class="fa fa-calendar"></span> Horario Estudiante</a>
            </div>

 <!-- fila final -->

                </div>



        
{% endblock %}