
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
 <!-- fila comienzo -->

<div class="panel panel-default">
                        <div class="panel-heading">Grupos que puede matricular</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                  <th>Codigo</th>
                                  <th>Nombre</th>
                                  <th>Creditos</th>
                                  <th>Grupos</th>
                                    <th>Horario</th>
                                    <th>Matricular</th>

                                </tr>
                              </thead>

 <form method="POST" action="." role="form">
                              {% for key, value in dic.items %}


                                <tr>

                                  <td> {{ key.codigo }}</td>
                                  <td> {{ key.nombre }}</td>
                                  <td>{{ key.creditos }}</td>

                                    <td>
                                        <select class="form-control"    ng-model="grupo">

                                                 {%  for i in value  %}
                                                     {% if i == "0" %}
                                                         <option>Sin grupos asignados</option>
                                                         {% else %}
                                                        <option  ng-value="{{ i }}" ng-model="item">{{ i.grupo }}</option>
                                                     {% endif %}


                                                 {% endfor %}


                                        </select>

                                    </td>

                                    <td>
                                    	 <a href="/horario-{{ estudiante.documento }}-[[ grupo  ]]-{{ key.codigo }}/ " class="btn btn-success" role="button"><span class="fa fa-calendar"></span> Horario</a>
                                    </td>
                                <td>
                                    <a  class="btn btn-success" role="button" data-toggle="modal" data-target="#modal-normal"><span class="glyphicon glyphicon-ok"></span> Matricular</a>


                                    </td>




                                </tr>
  <!-- Modal Normal Size -->
                                  <div class="modal fade" id="modal-normal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Matricula</h4>
          </div>
          <div class="modal-body">
            <p>Desea matricular esta materia?</p>
          </div>
          <div class="modal-footer">
          <a  class="btn btn-success" role="button" data-dismiss="modal"><span class="fa fa-close"></span> No</a>
            <a href="/matricular-{{ estudiante.documento }}-[[ grupo  ]]-{{ key.codigo }}/ " class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok"></span> Si</a>
          </div>
        </div>
      </div>
    </div>

 <!-- final modal -->


                             {% endfor %}
 </form>
                              </tbody>
                            </table>

                        </div>
                    </div>

            <div style="text-align: right">
               <a href="/matricula/{{ estudiante.documento }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>

            </div>


                </div>



        
{% endblock %}