
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
<div class="panel panel-default">
                        <div class="panel-heading">Total liquidacion estudiante</div>

                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                  <th>Referencia de pago</th>
                                    <th>Año</th>
                                  <th>Periodo</th>
                                    <th>Precio</th>
                                  <th>Total descuento</th>
                                    <th>Estado</th>
                                     <th>Detalle</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for matricula in m %}
                                <tr>
                                  <td>{{ matricula.referencia }}</td>
                                  <td>{{ matricula.ano }}</td>
                                  <td>{{ matricula.periodo }}</td>
                                       <td>{{ matricula.precio.precio }}</td>
                                    <td>{{ matricula.descuento }}</td>
                                    <td>{{ matricula.estado }}</td>

 <td>
                                    	<a href="/horario-[[ grupo  ]]-{{ key.codigo }}/ " class="btn btn-success" role="button"><span class="fa fa-bars"></span> Detalle</a>
                                    </td>
                                </tr>
{% endfor %}

                              </tbody>
                            </table>

                        </div>
                    </div>
 <!-- fila comienzo -->

   <div style="text-align: right">
               <a href="/principal/{{ estudiante.documento }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>

            </div>

 <!-- fila final -->

                </div>



        
{% endblock %}