
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
<div class="panel panel-default">
                        <div class="panel-heading">Informacion</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                  <th>Programa</th>
                                    <th>Semestre</th>
                                  <th>Creditos matriculados</th>
                                  <th>Creditos que puede matricular</th>

                                </tr>
                              </thead>
                              <tbody>

                                <tr>
                                  <td>Ing.de sistemas</td>
                                  <td>09</td>
                                  <td>04</td>
                                    <td>20</td>


                                </tr>


                              </tbody>
                            </table>

                        </div>
                    </div>
 <!-- fila comienzo -->
<div class="panel panel-default">
                        <div class="panel-heading">Grupos matriculados</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                  <th>Codigo</th>
                                  <th>Nombre</th>
                                  <th>Creditos</th>
                                  <th>Grupo</th>
                                    <th>Eliminar</th>
                                    <th>Cambiar Grupo</th>


                                </tr>
                              </thead>
                              <tbody>

                              {% for g in m %}

                                <tr>
                                  <td>{{ g.grupos.materia.codigo }}</td>
                                  <td>{{ g.grupos.materia.nombre}}</td>
                                  <td>{{ g.grupos.materia.creditos }}</td>
                                    <td>{{ g.grupos.grupo }}</td>

                                    <td>
                                    	 <a data-toggle="modal" data-target="#modal-normal" class="btn btn-success" role="button"><span class="fa fa-close"></span> Eliminar</a>
                                    </td>
                                <td>
                                    	 <a href="/registrarestudiante" class="btn btn-success" role="button"> <span class="fa fa-exchange"></span> Cambiar</a>
                                    </td>
                                </tr>
  <!-- Modal Normal Size -->
                                  <div class="modal fade" id="modal-normal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
          </div>
          <div class="modal-body">
            <p>Desea Eliminar esta materia de su Matricula Academica ?</p>
          </div>
          <div class="modal-footer">
          <a  class="btn btn-success" role="button" data-dismiss="modal"><span class="fa fa-close"></span> No</a>
            <a href="/eliminar-{{ estudiante.documento }}-{{ g.grupos.grupo }}-{{ g.grupos.materia.codigo }}/ " class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok"></span> Si</a>
          </div>
        </div>
      </div>
    </div>

 <!-- final modal -->
                             {% endfor %}
                              </tbody>
                            </table>

                        </div>
                    </div>

            <div style="text-align: right">
                <a href="/principal/{{ estudiante.documento }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
                                 <a href="/matriculamateria/{{ estudiante.documento }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok"></span> Matricular</a>
                                 <a href="/horario/{{ estudiante.documento }}" class="btn btn-success" role="button"><span class="fa fa-calendar"></span> Horario Estudiante</a>
            </div>

 <!-- fila final -->

                </div>



        
{% endblock %}