
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
 <!-- fila comienzo -->

<div class="panel panel-default">
                        <div class="panel-heading">Grupos que puede matricular</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                  <th>Codigo</th>
                                  <th>Nombre</th>
                                  <th>Creditos</th>
                                  <th>Grupos</th>
                                    <th>Horario</th>
                                    <th>Matricular</th>

                                </tr>
                              </thead>





                               {% for m in materias %}


                                <tr>

                                  <td>{{ m.codigo }}</td>
                                  <td>{{ m.nombre }}</td>
                                  <td>{{ m.creditos }}</td>
                                    <td>
                                        <select class="form-control" id="id_tipo_documento" name="tipo_documento" required="" ng-model="grupo">

                                             {% for n in grupo %}
                                                <p> hola {{ n }} <p>
                                                 {% if n == None %}

                                                   <option value="Sin Cupo">Sin cupo</option>
                                                 {% else %}
                                                 <option value="{{ n.grupo }}">{{ n.grupo }}</option>
                                                 {% endif %}
                                                 {% endfor %}


                                        </select>

                                    </td>

                                    <td>
                                    	 <a ng-href='/[[ grupo ]]/{{ m.codigo }} ' class="btn btn-success" role="button"><span class="fa fa-calendar"></span> Horario</a>
                                    </td>
                                <td>
                                    	 <a href="/registrarestudiante" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok"></span> Matricular</a>
                                    </td>
                                </tr>
                             {% endfor %}
                              </tbody>
                            </table>

                        </div>
                    </div>

            <div style="text-align: right">
               <a href="/matricula" class="btn btn-success" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>

            </div>

 <!-- fila final -->

                </div>



        
{% endblock %}